mixin icon-trapeze(className='')
    svg(fill="none" height="12" viewBox="0 0 12 12" width="12" class=className)
        path(d="m5.57935.386883c.25083-.182511.59047-.182511.8413 0l5.28435 3.845077c.2508.18251.3557.50602.2599.80133l-2.0184 6.22151c-.09581.2953-.37058.4952-.68062.4952h-6.53176c-.31004 0-.58481-.1999-.68062-.4952l-2.0184249-6.22151c-.0958069-.29531.0091488-.61882.2599749-.80133z" fill="currentColor")
