mixin icon-diamond(className='')
    svg(fill="none" height="12" viewBox="0 0 12 12" width="12" class=className)
        path(d="m.459029 4.89181c-.612039.61203-.612039 1.60435 0 2.21638l4.432781 4.43281c.61203.612 1.60435.612 2.21638 0l4.43281-4.43281c.612-.61203.612-1.60435 0-2.21638l-4.43281-4.432781c-.61203-.612039-1.60435-.612039-2.21638 0z" fill="currentColor")
