mixin icon-burger(className='')
    svg(fill="none" height="24" viewBox="0 0 24 24" width="24" class=className)
        g(fill="currentColor")
            path(d="m3 6c0-.41421.33579-.75.75-.75h16.5c.4142 0 .75.33579.75.75s-.3358.75-.75.75h-16.5c-.41421 0-.75-.33579-.75-.75z")
            path(d="m3 12c0-.4142.33579-.75.75-.75h16.5c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-16.5c-.41421 0-.75-.3358-.75-.75z")
            path(d="m3.75 17.25c-.41421 0-.75.3358-.75.75s.33579.75.75.75h16.5c.4142 0 .75-.3358.75-.75s-.3358-.75-.75-.75z")
