mixin icon-circle(className='')
    svg(fill="none" height="12" viewBox="0 0 12 12" width="12" class=className)
        g(fill="currentColor")
            path(d="m5.17493 11.9527 6.77787-6.77794c-.0549-.39327-.1477-.77434-.2749-1.13935l-7.64238 7.64239c.36499.1272.7461.2201 1.13941.2749z")
            path(d="m3.06201 11.2372 8.17529-8.17531c-.1677-.2967-.3601-.57769-.5741-.84023l-8.4414 8.44144c.26258.2141.54346.4063.84021.5741z")
            path(d="m1.50171 9.96911 8.46753-8.46756c-.25305-.22231-.5249-.42366-.81299-.601346l-8.255981 8.255996c.177731.28803.379151.5599.601441.81291z")
            path(d="m.428101 8.21412 7.786129-7.786096c-.35107-.138706-.71838-.245247-1.09826-.315998l-7.003909 7.003834c.0708.37989.177368.74718.31604 1.09826z")
            path(d="m.0141602 5.79972 5.7856398-5.7856819c-.60437.0208588-1.18603.1310999-1.73217.3179169l-3.735599 3.735585c-.186767.54615-.2969968 1.12781-.3178708 1.73218z")
            path(d="m11.9861 6.55562-5.43031 5.43038c.67761-.0611 1.32263-.2347 1.91638-.5022l3.01173-3.01176c.2674-.59375.4411-1.23885.5022-1.91642z")