mixin icon-arrow-left(className='')
    svg(fill="none" height="24" viewBox="0 0 24 24" width="24" class=className)
        path(d="m11.0303 5.78033c.2929-.29289.2929-.76777 0-1.06066s-.7677-.29289-1.06063 0l-6.75 6.75003c-.29289.2929-.29289.7677 0 1.0606l6.75 6.75c.29293.2929.76773.2929 1.06063 0s.2929-.7677 0-1.0606l-5.46964-5.4697h14.72054c.397 0 .7188-.3358.7188-.75s-.3218-.75-.7188-.75h-14.72054z" fill="currentColor")
