mixin icon-info(className='')
    svg(fill="none" height="24" viewBox="0 0 24 24" width="24" class=className)
        g(fill="currentColor")
            path(d="m10.5 11.25c0-.4142.3358-.75.75-.75h.75c.4142 0 .75.3358.75.75v4.5c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-.75c-.4142 0-.75-.3358-.75-.75v-4.5c-.4142 0-.75-.3358-.75-.75z")
            path(d="m12.9375 7.875c0 .62132-.5037 1.125-1.125 1.125s-1.125-.50368-1.125-1.125.5037-1.125 1.125-1.125 1.125.50368 1.125 1.125z")
            path(clip-rule="evenodd" d="m2.25 12c0-5.38478 4.36522-9.75 9.75-9.75 5.3848 0 9.75 4.36522 9.75 9.75 0 5.3848-4.3652 9.75-9.75 9.75-5.38478 0-9.75-4.3652-9.75-9.75zm9.75-8.25c-4.55635 0-8.25 3.69365-8.25 8.25 0 4.5563 3.69365 8.25 8.25 8.25 4.5563 0 8.25-3.6937 8.25-8.25 0-4.55635-3.6937-8.25-8.25-8.25z" fill-rule="evenodd")