mixin icon-triangle(className='')
    svg(fill="none" height="12" viewBox="0 0 12 12" width="12" class=className)
        path(d="m10.34.934446c-.1311-.804378-1.1012-1.206219-1.76264-.730068l-8.112546 5.840282c-.673108.48458-.522261 1.51146.270332 1.83976l9.719454 4.02588c.7926.3283 1.6254-.291 1.4922-1.1096z" fill="currentColor")
