mixin icon-star(className='')
    svg(fill="none" height="12" viewBox="0 0 14 12" width="14" class=className)
        path(d="m6.56542.539984c.16081-.386645.70854-.386646.86935-.000001l1.32272 3.180207c.0678.163.22109.27437.39706.28848l3.43335.27525c.4174.03346.5866.55438.2686.8268l-2.6158 2.24072c-.1341.11485-.1926.29505-.1517.46677l.7992 3.35029c.0972.4074-.346.7293-.7033.511l-2.93941-1.79534c-.15066-.09202-.34013-.09202-.49079 0l-2.93938 1.79534c-.35737.2183-.80049-.1036-.70333-.511l.79918-3.35029c.04096-.17172-.01759-.35192-.15167-.46677l-2.61581-2.24072c-.318025-.27242-.148769-.79334.26865-.8268l3.4333-.27525c.17597-.01411.32926-.12548.39705-.28848z" fill="currentColor")
