.baseline-table-wrapper {
    overflow: auto;
    width: calc(100vw - 304px);

    @include tablet {
        width: 100vw;
        margin-left: -32px;
        padding: 0 32px;
    }

    @include mobile {
        margin-left: -16px;
        padding: 0 16px;
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.16);
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        margin: 16px;
    }
}

.baseline-table {
    display: flex;
    gap: 12px;
    padding: 8px 0;

    &_filled {
        .baseline-table__column {
            width: 134px;
        }
    }

    &__column {
        flex-shrink: 0;
        width: 174px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 12px;
        border-left: 1px solid #d6d6d6;
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__content-header {
        color: #1f1f1f;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }

    &__content-title {
        overflow: hidden;
        color: #5c5c5c;
        text-overflow: ellipsis;
        font-size: 12px;
        line-height: 16px;
    }

    &__content-text {
        color: #1f1f1f;
        font-size: 16px;
        line-height: 24px;

        &.green {
            color: #1d8722;
        }

        &.yellow {
            color: #a37a00;
        }

        &.red {
            color: #db2835;
        }
    }
}

.baseline-table-description {
    width: fit-content;
    color: #5c5c5c;
    font-size: 12px;
    line-height: 16px;
}

.main-table-wrapper {
    overflow: auto;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #d6d6d6;
    }

    &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 10px;
    }

    @include mobile {
        width: 100vw;
        margin-left: -16px;
        padding: 0 16px;
        padding-bottom: 8px;
    }
}

.main-table {
    min-width: 704px;
    border-collapse: collapse;
    table-layout: fixed;

    .border-right {
        border-right: 1px solid #d6d6d6;
    }

    .border-top-bold {
        border-top: 2px solid #d6d6d6;
    }

    .center {
        text-align: center;
    }

    .status-ok {
        background-color: rgba(43, 153, 39, 0.08);
    }

    .status-error {
        background-color: rgba(255, 59, 56, 0.08);
    }

    .text-error {
        color: #db2835;
    }

    .bold {
        font-weight: 600;
    }

    thead {
        th {
            padding: 12px;
            text-align: left;
            color: #1f1f1f;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: center;

            &.border-right {
                border-right: 1px solid #d6d6d6;
            }
        }

        tr:nth-child(1) {
            th {
                border-bottom: 2px solid #d6d6d6;
                font-size: 14px;
                line-height: 20px;
            }

            .content-column {
                width: 132px;
            }
        }
    }

    tbody {
        td {
            padding: 12px;
            border-bottom: 1px solid #d6d6d6;
            color: #1f1f1f;
            font-size: 14px;
            line-height: 20px;
            text-align: right;

            &.left {
                text-align: left;
            }
        }
    }
}

.masters-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.master {
    display: flex;
    gap: 8px;
    max-width: 400px;

    &__avatar {
        overflow: hidden;
        position: relative;
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        color: #fff;
        font-size: 14px;
        line-height: 20px;

        &_default {
            background-color: #fff;
        }

        &_aqua {
            background-color: #6ec9cb;
        }

        &_lavender {
            background-color: #a695e7;
        }

        &_sandy {
            background-color: #eda86c;
        }
    }

    &__avatar-img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        object-fit: cover;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 4px 0;
    }

    &__text-block {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__percent {
        font-weight: 600;
    }

    &__progress {
        width: 100%;
        height: 8px;
        border-radius: 99px;
        background-color: rgba(0, 0, 0, 0.08);
    }

    &__progress-bar {
        width: var(--percent-value);
        height: 8px;
        border-radius: 99px;
        background-color: #75b872;
    }
}

.total-time {
    display: flex;
    gap: 32px;

    &__block {
        display: flex;
        flex-direction: column;
        gap: 4px;
        min-width: 128px;
    }

    &__text {
        overflow: hidden;
        color: #5c5c5c;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
}

.metrics-table-button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #006fbc;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
