extends ../layout.pug

block variables
  - var page = 'index'

block content
    include ../includes/header.pug
    include ../components/h2.pug
    include ../components/h3.pug
    include ../components/status.pug
    include ../components/button-link.pug

    .main-content(id='js-main-content')
        +h2('Работающая методичка для салона красоты')
        +h3('Что такое Методичка?')
        .index-text Методичка – общее описание что это просто текст будет текст не более 500 знаков -) и кнопки с датами марафонов (пока только 30 сентября -20 декабря), куда можно зайти  и там уже шаги  внизу три блока – ссылка на запись на обучение, ссылка на инструкции, блок писать нам обо всех замещаниях и хотелках на почту 
            a.index-link(href="metod@sonline.su") metod@sonline.su.
        +h3('Какова цель марафона?')
        .index-text Цель нашего марафона - применять все известные нам успешные кейсы на массовую аудиторию, получать от вас обратную связь и через какое-то время выработать идеальную методичку по ведению успешного бизнеса в салоне красоты.
        .index-text Мы будем проводить марафоны с октября по декабрь и вторая сессия будет с февраля по апрель. Первый марафон будет идти 12 недель. Остальные будут корректироваться по результатам предыдущих и возможно увеличиваться.
        +h3('Сколько это стоит?')
        .index-text
            | Марафоны всегда будут 
            b бесплатными. 
            | В случае, если на каком-то уроке рассматривается функционал, который у вас не приобретён, на время марафона он вам включается. Если после марафона вы его решите оставить, вам нужно его будет оплатить и  период марафона будет учитываться в сроке лицензии.
        +h3('Регламент марафона')
        ol.index-list
            li С понедельник на канале публикуется план на ближайшую неделю
            li Во вторник Екатерина проводит прямой эфир
            li Далее вы изучаете инструкции или проходите обучение у тренеров
            li И выполняете «домашнее задание»
        .index-text Нам очень важно чтобы вы давали нам обратную связь. И мы с нетерпением будем ждать от вас письма на почту 
            a.index-link(href="metod@sonline.su") metod@sonline.su.
        .index-cards
            .index-card
                .index-card__title-wrapper
                    .index-card__title Осень 2024
                    +status-calendar('октябрь – декабрь 2024')
                +button-link('Перейти', './metrics.html', 's', 'primary', 'index-card__button')
            .index-card
                .index-card__title-wrapper
                    .index-card__title Зима 2025
                    +status-calendar('январь – март 2025')
                +button-link('Перейти', './metrics.html', 's', 'primary', 'index-card__button')
