extends ../layout.pug

block variables
  - var page = 'metrics'

block content
    include ../includes/header.pug
    include ../components/h2.pug
    include ../components/h3.pug
    include ../components/status.pug
    include ../components/button-link.pug

    .main-content(id='js-main-content')
        +h2('Показатели')
        +h3('Исходные показатели')
        .baseline-table
                .baseline-table__row-block
                    .baseline-table__row-title Сентябрь 2023
                    .baseline-table__row-text 100 000 ₽
                .baseline-table__row-block
                    .baseline-table__row-title Сентябрь 2024
                    .baseline-table__row-text 120 000 ₽
                .baseline-table__row-block.baseline-table__row-block_grow
                    .baseline-table__row-title Рост
                    .baseline-table__row-text 20%
                .baseline-table__row-block
                    .baseline-table__row-title Октябрь 2023
                    .baseline-table__row-text 130 000 ₽
                .baseline-table__row-block
                    .baseline-table__row-title План на октябрь 2024*
                    .baseline-table__row-text 163 000 ₽
                .baseline-table__row-block.baseline-table__row-block_grow
                    .baseline-table__row-title Рост
                    .baseline-table__row-text 20% + 10%20% + 10%20% + 10%
                .baseline-table__row-block
                    .baseline-table__row-title Ноябрь 2023
                    .baseline-table__row-text 130 000 ₽
                .baseline-table__row-block
                    .baseline-table__row-title План на ноябрь 2024*
                    .baseline-table__row-text
                .baseline-table__row-block.baseline-table__row-block_grow
                    .baseline-table__row-title Рост
                    .baseline-table__row-text 20% + 10%
                .baseline-table__row-block
                    .baseline-table__row-title Декабрь 2023
                    .baseline-table__row-text 130 000 ₽
                .baseline-table__row-block
                    .baseline-table__row-title План на декабрь 2024*
                    .baseline-table__row-text
                .baseline-table__row-block.baseline-table__row-block_grow
                    .baseline-table__row-title Рост
                    .baseline-table__row-text 20% + 10%
        .baseline-table-description * Рассчитывается исходя из естественного роста предыдущего месяца +10%
        +h3('Toy')
        table.main-table
            thead
                tr
                    th.border-right(colspan="3") Октябрь 2024
                    th.border-right(colspan="3") Ноябрь 2024
                    th(colspan="3") Декабрь 2024
                tr
                    th.day-column Дн
                    th.content-column План
                    th.content-column.border-right Приход
                    th.day-column Дн
                    th.content-column План
                    th.content-column.border-right Приход
                    th.day-column Дн
                    th.content-column План
                    th.content-column Приход
            tbody
                tr
                    td.center 1
                    td 111 000 ₽
                    td.border-right 111 000 ₽
                    td.center 1
                    td 111 000 ₽
                    td.border-right
                    td.center.text-error 1
                    td 170 000 ₽
                    td
                tr.green
                    td.center.status-ok 2
                    td.status-ok 120 000 ₽
                    td.border-right.status-ok 121 000 ₽
                    td.center.text-error 2
                    td 180 000 ₽
                    td.border-right
                    td.center 2
                    td 111 000 ₽
                    td
                tr.green
                    td.center.status-ok 3
                    td.status-ok 130 000 ₽
                    td.border-right.status-ok 148 000 ₽
                    td.center.text-error 3
                    td 170 000 ₽
                    td.border-right
                    td.center 3
                    td 130 000 ₽
                    td
                tr.red
                    td.center.status-error 4
                    td.status-error 96 000 ₽
                    td.border-right.status-error 82 000 ₽
                    td.center 4
                    td 111 000 ₽
                    td.border-right
                    td.center 4
                    td 120 000 ₽
                    td
                tr.red
                    td.center.text-error.status-error 5
                    td.status-error 180 000 ₽
                    td.border-right.status-error 30 000 ₽
                    td.center 5
                    td 180 000 ₽
                    td.border-right
                    td.center 5
                    td 180 000 ₽
                    td
                tr.green
                    td.center.text-error.status-ok 6
                    td.status-ok 170 000 ₽
                    td.border-right.status-ok 179 000 ₽
                    td.center 6
                    td 120 000 ₽
                    td.border-right
                    td.center 6
                    td 111 000 ₽
                    td
                tr
                    td.center 7
                    td 111 000 ₽
                    td.border-right 111 000 ₽
                    td.center 7
                    td 111 000 ₽
                    td.border-right
                    td.center.text-error 7
                    td 180 000 ₽
                    td
                tr.red
                    td.center.status-error 8
                    td.status-error 120 000 ₽
                    td.border-right.status-error 111 000 ₽
                    td.center 8
                    td 111 000 ₽
                    td.border-right
                    td.center.text-error 8
                    td 170 000 ₽
                    td
                tr
                    td.center.status-error 9
                    td.status-error 130 000 ₽
                    td.border-right.status-error 111 000 ₽
                    td.center.text-error 9
                    td 130 000 ₽
                    td.border-right
                    td.center 9
                    td 111 000 ₽
                    td
                tr
                    td.center.status-ok 10
                    td.status-ok 96 000 ₽
                    td.border-right.status-ok 111 000 ₽
                    td.center.text-error 10
                    td 170 000 ₽
                    td.border-right
                    td.center 10
                    td 111 000 ₽
                    td
        +h3('Выручка по мастерам')
        ul.masters-list
            li.masters-list__item.master(style="--percent-value: 12.04%")
                .master__avatar
                    span АА
                .master__content
                    .master__text-block
                        .master__name Айгуль Абдисаламовна
                        .master__percent 12,04%
                    .master__progress
                        .master__progress-bar
            li.masters-list__item.master(style="--percent-value: 11.78%")
                .master__avatar
                    span АВ
                    img.master__avatar-img(src='img/avatar1.jpg')
                .master__content
                    .master__text-block
                        .master__name Анастасия Ветрова
                        .master__percent 11,78%
                    .master__progress
                        .master__progress-bar
            li.masters-list__item.master(style="--percent-value: 10.72%")
                .master__avatar
                    span ЕМ
                .master__content
                    .master__text-block
                        .master__name Екатерина Мартынова
                        .master__percent 10,72%
                    .master__progress
                        .master__progress-bar
            li.masters-list__item.master(style="--percent-value: 8.37%")
                .master__avatar
                    span ТС
                    img.master__avatar-img(src='img/avatar2.jpg')
                .master__content
                    .master__text-block
                        .master__name Татьяна Самойлова
                        .master__percent 8,37%
                    .master__progress
                        .master__progress-bar
            li.masters-list__item.master(style="--percent-value: 4.82%")
                .master__avatar
                    span УП
                .master__content
                    .master__text-block
                        .master__name Ульяна Павленко
                        .master__percent 4,82%
                    .master__progress
                        .master__progress-bar
        +h3('Заполняем январь')
        .total-time
            .total-time__block
                .total-time__text Рабочих часов
                .total-time__hours 124 ч
            .total-time__block
                .total-time__text Занято часов
                .total-time__hours 30 ч