extends ../layout.pug

block variables
  - var page = 'metrics'

block content
    include ../includes/header.pug
    include ../components/h2.pug
    include ../components/h3.pug
    include ../components/status.pug
    include ../components/button-link.pug

    .main-content(id='js-main-content')
        +h2('Показатели')
        .js-info
            +h3('Исходные показатели', '', 'info')
            .info-block.hidden.js-info-block
                .info-block__text Мы берем Сентябрь 2023 года и сравниваем его с Сентябрем 2024 года. Например, в сентябре 2023 года салон сделал 1 000 000, в сентябре 2024 года – 1 150 000. То есть рост год к году - 15%. Это будет наш базовый %. Мы знаем нашу выручку за Октябрь 2023 года, соответственно наш базовый % по Октябрю 2024 года - 15%.
                .info-block__text Далее мы прибавляем к базовому % прогрессивный %. В первом марафоне он будет равен 5%. Соответственно общий % роста в Октябре в нашем примере будет равняться 20%. Мы считаем, что 5% это очень большой прогрессивный %, особенно если учитывать, что если в вы будете выполнять план, в последующих месяцах он уже будет закладываться дважды (как уже рост в Октябре 2024 году и как самостоятельный прогрессивный %). Но это мы поставили это как некий идеал, которому, как нам кажется, нужно стремиться.
                .info-block__text И на самом деле, даже если вы будете расти, а 1% месяц к месяцу — это очень хорошо!
                .info-block__text То есть если в Октябре салон сделал 1 000 000, то план по Октябрю 2024 года будет 1 200 000. Если рост год к году отрицательный в сентябре, например в 2023 году 1 000 000, а в 2024 году - 900 000. То при планировании Октября 2024 года будет браться только прогрессивный % и план по Октябрю 2024 года будет 1 050 000. План по ноябрю 24 года, будет сформирован соответственно по итогам Октября 2024 года.
        .baseline-table-wrapper
            .baseline-table
                .baseline-table__column
                    .baseline-table__row
                        .baseline-table__content-header Сентябрь
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Сентябрь 2023
                            .baseline-table__content-text 100 000 ₽
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Сентябрь 2024
                            .baseline-table__content-text 120 000 ₽
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Планируемый рост
                            .baseline-table__content-text.green 20%
                .baseline-table__column
                    .baseline-table__row
                        .baseline-table__content-header Октябрь
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Октябрь 2023
                            .baseline-table__content-text 130 000 ₽
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title План на октябрь 2024*
                            .baseline-table__content-text 163 000 ₽
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Планируемый рост
                            .baseline-table__content-text.green 20% + 10%
                .baseline-table__column
                    .baseline-table__row
                        .baseline-table__content-header Ноябрь
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Ноябрь 2023
                            .baseline-table__content-text 130 000 ₽
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title План на ноябрь 2024*
                            .baseline-table__content-text ₽
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Планируемый рост
                            .baseline-table__content-text.green 20% + 10%
                .baseline-table__column
                    .baseline-table__row
                        .baseline-table__content-header Декабрь
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Декабрь 2023
                            .baseline-table__content-text 130 000 ₽
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title План на декабрь 2024*
                            .baseline-table__content-text ₽
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Планируемый рост
                            .baseline-table__content-text.green 20% + 10%
        .baseline-table-description * Рассчитывается исходя из естественного роста предыдущего месяца +10%
        .js-info
            +h3('Toy', '', 'info', 'tabs')
        .main-table-wrapper
            table.main-table.js-metrics-table
                thead
                    tr
                        th.day-column Дн
                        th.content-column План на день
                        th.content-column Записи на день
                        th.content-column Приход за день
                        th.content-column План накопительный
                        th.content-column Приход накопительный
                tbody
                    tr.js-ellipsis-above-row
                        td.left(colspan=6) ...
                    tr.js-metrics-row
                        td.center 1
                        td 111 000 ₽
                        td 111 000 ₽
                        td 111 000 ₽
                        td 170 000 ₽
                        td 170 000 ₽
                    tr.js-metrics-row.green
                        td.center.status-ok 2
                        td.status-ok 120 000 ₽
                        td.status-ok 121 000 ₽
                        td.status-ok 180 000 ₽
                        td.status-ok 111 000 ₽
                        td.status-ok 111 000 ₽
                    tr.js-metrics-row.green
                        td.center.status-ok 3
                        td.status-ok 130 000 ₽
                        td.status-ok 148 000 ₽
                        td.status-ok 170 000 ₽
                        td.status-ok 130 000 ₽
                        td.status-ok 130 000 ₽
                    tr.js-metrics-row.red.js-today
                        td.center.status-error 4
                        td.status-error 96 000 ₽
                        td.status-error 82 000 ₽
                        td.status-error 111 000 ₽
                        td.status-error 120 000 ₽
                        td.status-error 120 000 ₽
                    tr.js-metrics-row.red
                        td.center.text-error.status-error 5
                        td.status-error 180 000 ₽
                        td.status-error 30 000 ₽
                        td.status-error 180 000 ₽
                        td.status-error 180 000 ₽
                        td.status-error 180 000 ₽
                    tr.js-metrics-row.green
                        td.center.text-error.status-ok 6
                        td.status-ok 170 000 ₽
                        td.status-ok 179 000 ₽
                        td.status-ok 120 000 ₽
                        td.status-ok 111 000 ₽
                        td.status-ok 111 000 ₽
                    tr.js-metrics-row
                        td.center 7
                        td 111 000 ₽
                        td 111 000 ₽
                        td 111 000 ₽
                        td 180 000 ₽
                        td 180 000 ₽
                    tr.js-metrics-row.red
                        td.center.status-error 8
                        td.status-error 120 000 ₽
                        td.status-error 111 000 ₽
                        td.status-error 111 000 ₽
                        td.status-error 170 000 ₽
                        td.status-error 170 000 ₽
                    tr.js-metrics-row
                        td.center.status-error 9
                        td.status-error 130 000 ₽
                        td.status-error 111 000 ₽
                        td.status-error 130 000 ₽
                        td.status-error 111 000 ₽
                        td.status-error 111 000 ₽
                    tr.js-metrics-row
                        td.center.status-ok 10
                        td.status-ok 96 000 ₽
                        td.status-ok 111 000 ₽
                        td.status-ok 170 000 ₽
                        td.status-ok 111 000 ₽
                        td.status-ok 111 000 ₽
                    tr.js-more-button-row
                        td.left(colspan=6)
                            button.metrics-table-button.js-metrics-table-more-button(type='button') Показать все дни месяца
                            button.metrics-table-button.hidden.js-metrics-table-low-button(type='button') Меньше данных
                    tr
                        td.border-top-bold.left.bold(colspan=4) Всего за октябрь 2024
                        td.border-top-bold.bold 3 020 336 ₽
                        td.border-top-bold.bold 294 580 ₽
        +h3('Выручка по мастерам','', 'info', 'tabs', 'select')
        ul.masters-list
            li.masters-list__item.master(style="--percent-value: 12.04%")
                .master__avatar.master__avatar_aqua
                    span АА
                .master__content
                    .master__text-block
                        .master__name Айгуль Абдисаламовна
                        .master__percent 12,04%
                    .master__progress
                        .master__progress-bar
            li.masters-list__item.master(style="--percent-value: 11.78%")
                .master__avatar.master__avatar_default
                    span АВ
                    img.master__avatar-img(src='img/avatar1.jpg')
                .master__content
                    .master__text-block
                        .master__name Анастасия Ветрова
                        .master__percent 11,78%
                    .master__progress
                        .master__progress-bar
            li.masters-list__item.master(style="--percent-value: 10.72%")
                .master__avatar.master__avatar_lavender
                    span ЕМ
                .master__content
                    .master__text-block
                        .master__name Екатерина Мартынова
                        .master__percent 10,72%
                    .master__progress
                        .master__progress-bar
            li.masters-list__item.master(style="--percent-value: 8.37%")
                .master__avatar.master__avatar_default
                    span ТС
                    img.master__avatar-img(src='img/avatar2.jpg')
                .master__content
                    .master__text-block
                        .master__name Татьяна Самойлова
                        .master__percent 8,37%
                    .master__progress
                        .master__progress-bar
            li.masters-list__item.master(style="--percent-value: 4.82%")
                .master__avatar.master__avatar_sandy
                    span УП
                .master__content
                    .master__text-block
                        .master__name Ульяна Павленко
                        .master__percent 4,82%
                    .master__progress
                        .master__progress-bar
        +h3('Заполняем рабочие часы', '', 'info')
        .baseline-table-wrapper
            .baseline-table.baseline-table_filled
                .baseline-table__column
                    .baseline-table__row
                        .baseline-table__content-header Сентябрь
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Рабочих часов
                            .baseline-table__content-text 2484 ч
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Занято часов
                            .baseline-table__content-text 1984 ч
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Заполнено
                            .baseline-table__content-text.green 79.87%
                .baseline-table__column
                    .baseline-table__row
                        .baseline-table__content-header Октябрь
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Рабочих часов
                            .baseline-table__content-text 2484 ч
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Занято часов
                            .baseline-table__content-text 1425 ч
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Заполнено
                            .baseline-table__content-text.yellow 57.37%
                .baseline-table__column
                    .baseline-table__row
                        .baseline-table__content-header Ноябрь
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Рабочих часов
                            .baseline-table__content-text 2460 ч
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Занято часов
                            .baseline-table__content-text 1 ч
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Заполнено
                            .baseline-table__content-text.red 0.04%
                .baseline-table__column
                    .baseline-table__row
                        .baseline-table__content-header Декабрь
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Рабочих часов
                            .baseline-table__content-text 2700 ч
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Занято часов
                            .baseline-table__content-text 0 ч
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Заполнено
                            .baseline-table__content-text.red 0.00%
                .baseline-table__column
                    .baseline-table__row
                        .baseline-table__content-header Январь
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Рабочих часов
                            .baseline-table__content-text 2508 ч
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Занято часов
                            .baseline-table__content-text 0 ч
                    .baseline-table__row
                        .baseline-table__content-block
                            .baseline-table__content-title Заполнено
                            .baseline-table__content-text.red 0.00%